
html {
    background-color: beige;
    color: black;

    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 15px;
}

h2 {
    background-color: #dbdba9;
    max-width: 65%;
}

section {
    max-width: 65%;
}

div {
    max-width: 100%;
    padding: 8px;
}

td {
    max-width: 250px;
    padding: 5px;
    font-style: italic;
}
th {
    border-bottom-width: 1px;
    border-bottom-color: black;
    border-bottom-style: dashed;
    /*border-left-color: #f5f5f5;
    border-right-color: #f5f5f5;
    background-color: #f5f5f5;*/
}