
html {
    background-color: beige;

    font-size: 18px;
}

div {
    max-width: 50%;
    padding: 8px;
}

table {
    border-style: solid;
    border-width: 1px;
    border-color: black;
}
td {
    border-style: solid;
    border-width: 1px;
    border-color: black;

    max-width: 250px;
    padding: 5px;
}
th {
    border-style: solid;
    border-width: 1px;
    border-color: black;
    
}